<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Existing keys and values -->
        <key>UIApplicationSceneManifest</key>
        <dict>
            <!-- Scene configuration -->
        </dict>
        <!-- Adding custom fonts -->
        <key>UIAppFonts</key>
        <array>
            <string>BaseNeueTrial-Black.ttf</string>
            <string>BaseNeueTrial-BlackOblique.ttf</string>
            <string>BaseNeueTrial-Bold.ttf</string>
            <string>BaseNeueTrial-BoldOblique.ttf</string>
            <string>BaseNeueTrial-CondBlackObliq.ttf</string>
            <string>BaseNeueTrial-CondBoldObliq.ttf</string>
            <string>BaseNeueTrial-Condensed.ttf</string>
            <string>BaseNeueTrial-CondensedBlack.ttf</string>
            <string>BaseNeueTrial-CondensedBold.ttf</string>
            <string>BaseNeueTrial-CondensedLight.ttf</string>
            <string>BaseNeueTrial-CondensedMedium.ttf</string>
            <string>BaseNeueTrial-CondensedThin.ttf</string>
            <string>BaseNeueTrial-CondExtBd.ttf</string>
            <string>BaseNeueTrial-CondExtBdObliq.ttf</string>
            <string>BaseNeueTrial-CondExtLt.ttf</string>
            <string>BaseNeueTrial-CondExtLtObliq.ttf</string>
            <string>BaseNeueTrial-CondLightObliq.ttf</string>
            <string>BaseNeueTrial-CondMedObliq.ttf</string>
            <string>BaseNeueTrial-CondObliq.ttf</string>
            <string>BaseNeueTrial-CondSemBd.ttf</string>
            <string>BaseNeueTrial-CondSemBdObliq.ttf</string>
            <string>BaseNeueTrial-CondThinObliq.ttf</string>
            <string>BaseNeueTrial-Expanded.ttf</string>
            <string>BaseNeueTrial-ExpandedBlack.ttf</string>
            <string>BaseNeueTrial-ExpandedBold.ttf</string>
            <string>BaseNeueTrial-ExpandedLight.ttf</string>
            <string>BaseNeueTrial-ExpandedMedium.ttf</string>
            <string>BaseNeueTrial-ExpandedOblique.ttf</string>
            <string>BaseNeueTrial-ExpandedThin.ttf</string>
            <string>BaseNeueTrial-ExpBlackObliq.ttf</string>
            <string>BaseNeueTrial-ExpBoldObliq.ttf</string>
            <string>BaseNeueTrial-ExpExtBd.ttf</string>
            <string>BaseNeueTrial-ExpExtBdObliq.ttf</string>
            <string>BaseNeueTrial-ExpExtLt.ttf</string>
            <string>BaseNeueTrial-ExpExtLtObliq.ttf</string>
            <string>BaseNeueTrial-ExpLightObliq.ttf</string>
            <string>BaseNeueTrial-ExpMedObliq.ttf</string>
            <string>BaseNeueTrial-ExpSemBd.ttf</string>
            <string>BaseNeueTrial-ExpSemBdObliq.ttf</string>
            <string>BaseNeueTrial-ExpThinObliq.ttf</string>
            <string>BaseNeueTrial-ExtBdObliq.ttf</string>
            <string>BaseNeueTrial-ExtLtObliq.ttf</string>
            <string>BaseNeueTrial-ExtraBold.ttf</string>
            <string>BaseNeueTrial-ExtraLight.ttf</string>
            <string>BaseNeueTrial-Light.ttf</string>
            <string>BaseNeueTrial-LightOblique.ttf</string>
            <string>BaseNeueTrial-Medium.ttf</string>
            <string>BaseNeueTrial-MediumOblique.ttf</string>
            <string>BaseNeueTrial-Regular.ttf</string>
            <string>BaseNeueTrial-RegularOblique.ttf</string>
            <string>BaseNeueTrial-SemiBold.ttf</string>
            <string>BaseNeueTrial-SemiBoldOblique.ttf</string>
            <string>BaseNeueTrial-SuperCnBdObl.ttf</string>
            <string>BaseNeueTrial-SuperCnBlkObl.ttf</string>
            <string>BaseNeueTrial-SuperCnLtObl.ttf</string>
            <string>BaseNeueTrial-SuperCnMdObl.ttf</string>
            <string>BaseNeueTrial-SuperCnSmBdObl.ttf</string>
            <string>BaseNeueTrial-SuperCnThObl.ttf</string>
            <string>BaseNeueTrial-SuperCnXBdObl.ttf</string>
            <string>BaseNeueTrial-SuperCnXLtObl.ttf</string>
            <string>BaseNeueTrial-SuperCond.ttf</string>
            <string>BaseNeueTrial-SuperCondBlack.ttf</string>
            <string>BaseNeueTrial-SuperCondBold.ttf</string>
            <string>BaseNeueTrial-SuperCondExtBd.ttf</string>
            <string>BaseNeueTrial-SuperCondExtLt.ttf</string>
            <string>BaseNeueTrial-SuperCondLight.ttf</string>
            <string>BaseNeueTrial-SuperCondMedium.ttf</string>
            <string>BaseNeueTrial-SuperCondObliq.ttf</string>
            <string>BaseNeueTrial-SuperCondSemBd.ttf</string>
            <string>BaseNeueTrial-SuperCondThin.ttf</string>
            <string>BaseNeueTrial-SuperExBdObl.ttf</string>
            <string>BaseNeueTrial-SuperExBlkObl.ttf</string>
            <string>BaseNeueTrial-SuperExLtObl.ttf</string>
            <string>BaseNeueTrial-SuperExMdObl.ttf</string>
            <string>BaseNeueTrial-SuperExp.ttf</string>
            <string>BaseNeueTrial-SuperExpBlack.ttf</string>
            <string>BaseNeueTrial-SuperExpBold.ttf</string>
            <string>BaseNeueTrial-SuperExpExBdObl.ttf</string>
            <string>BaseNeueTrial-SuperExpExLtObl.ttf</string>
            <string>BaseNeueTrial-SuperExpExtBd.ttf</string>
            <string>BaseNeueTrial-SuperExpExtLt.ttf</string>
            <string>BaseNeueTrial-SuperExpLight.ttf</string>
            <string>BaseNeueTrial-SuperExpMedium.ttf</string>
            <string>BaseNeueTrial-SuperExpOblique.ttf</string>
            <string>BaseNeueTrial-SuperExpSemBd.ttf</string>
            <string>BaseNeueTrial-SuperExpThin.ttf</string>
            <string>BaseNeueTrial-SuperExSmBdObl.ttf</string>
            <string>BaseNeueTrial-SuperExThObl.ttf</string>
            <string>BaseNeueTrial-Thin.ttf</string>
            <string>ClashDisplay-Bold.otf</string>
            <string>ClashDisplay-Extralight.otf</string>
            <string>ClashDisplay-Light.otf</string>
            <string>ClashDisplay-Medium.otf</string>
            <string>ClashDisplay-Regular.otf</string>
            <string>ClashDisplay-Semibold.otf</string>
        </array>
    </dict>
    </plist>
